*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.other-links{
    margin-right: 33px;
    display: flex;
    text-align: right;
}
.other-links button{
    background-color: #fff;
    margin-left: 10px;
}
.other-links i{
    color: #ffffff;
    font-size: 28px;
    margin-left: 15px;
    cursor: pointer;
    align-self: center;
}
#btn-login{
    width: 100px;
    border: 2px solid #b62626;
    color: #b62626;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-login a{
    text-decoration: none;
    color: #b62626;
    transition: 0.5s ease;
}
#btn-login a:hover{
    color: white;
}
#btn-login:hover{
    background-color: #b62626;
    color: white;
}
@media screen and (max-width:500px){
    .top-icons{
        margin-left: 30px;
    }
    .top-icons i{
        font-size: 15px;
    }
    .other-links i{
        font-size: 15px;
    }
    #btn-login{
        width: 60px;
        height: 5vh;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 10px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 10px;
    }
    #btn-login{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 12px;
    }
    #btn-login{
        width: 40px;
        height: 5vh;
        font-size: 10px;
    }
}
/* home section */
.body-temp{
    margin-top: 6em;
}
.home-section{
    width: 100%;
    height: 93vh;
    background-color: #a9a9a926;
}
.btn-agregar{
    vertical-align: baseline !important;
    background-color: #881515 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
/* navbar */
#navbar{
    background-color: #881515;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}
#navbar .nav-link{
    color: white;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.5s ease;
}
#navbar .nav-link:hover{
    color: white;
    border-radius: 5px;
}
.nav-item a{
    cursor: pointer;
}
.dropdown li a{
    color: white;
}
.input-wrapper {
    position: relative;
    width: 271px;
}
.input {
    box-sizing: border-box;
    color: #191919;
    font-weight: 500;
    padding: 5px 15px 5px 35px;
    width: 100%;
    max-width: 200px;
}
.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
}
#search-btn{
    color: white;
    border:  1px solid white;
}
#search-btn:hover{
    background-color: #881515;
}
.usuario-dropdown{
    color: #ffffff !important;
}
.usuario-dropdown:focus{
    box-shadow: 0 0 0 0 !important;
}
.dropdown-menu[data-bs-popper]{
    left: -80px !important;
    background-color: #a51313 !important;
}
.dropdown-menu2[data-bs-popper]{
    left: 0px !important;
}
.dropdown-menu2 li{
    cursor: pointer;
}
.dropdown-menu li{
    color: #ffffff !important;
}
.dropdown-menu li a{
    text-decoration: underline !important;
}
.dropdown-menu li a:hover{
    cursor: pointer;
    color: #fef5f5 !important;
}
.activo{
    background-color: #b62626 !important;
    color: white !important;
}
/* navbar */
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}
.home .img{
    flex: 1 1 30px;
}
.home .img img{
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h3{
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: #0e0e3b;
    font-weight: bold;
}
.content h3 span{
    font-size: 40px;
}
.content p{
    margin-left: 70px;
    color: #881515;
}
.content #shopnow{
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid #881515;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
.content #shopnow:hover{
    background-color: #881515;
    color: white;
}
@media screen and (max-width:800px){
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content p{
        margin-left: 50px;
    }
    .content #shopnow{
        margin-left: 50px;
    }
}
@media screen and (max-width:570px){
    .content h3{
        margin-left: 20px;
    }
    .content p{
        margin-left: 20px;
    }
    .content #shopnow{
        margin-left: 20px;
    }
}
@media screen and (max-width:799px){
    .home-section{
        height: 150vh;
    }
}
@media screen and (max-width:550px){
    .home-section{
        height: 100vh;
    }
}
/* home content */
/* home section */

/* top cards */
#top-cards{
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}
#top-cards .card img{
    height: 60vh;
}
#top-cards h5{
    color: #881515;
    font-weight: bold;
}
#top-cards button{
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    background: transparent;
    color: #881515;
    border: 2px solid #881515;
    transition: 0.5s ease;
    cursor: pointer;
}
#top-cards button:hover{
    background-color: #881515;
    color: white;
}
/* top cards */

/* banner */
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./image/banner.jpg);
}
.banner .content{
    text-align: center;
    padding-top: 100px;
}
.banner .content h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn button:hover{
    background-color: #881515;
    border: none;
}
/* banner */
/* banner2 */
.banner2{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./image/banner2.jpg);
}
.banner2 .content2{
    text-align: center;
    padding-top: 100px;
}
.banner2 .content2 h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner2 .content2 p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn2 button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn2 button:hover{
    background-color: #881515;
    border: none;
}
/* banner2 */

/* product cards */
#product-cards{
    font-family: 'Roboto Slab', serif;
    margin-top: 100px;
}
#product-cards .card{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#product-cards h1{
    margin-top: 30px;
    color: #1c1c50;
    text-shadow: 1px 1px 1px black;
}
#product-cards h3{
    letter-spacing: 3px;
    color: #1c1c50;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}
#product-cards h5 span{
    float: right;
    color: #1c1c50;
    cursor: pointer;
}
.checked{
    color: rgb(255, 187, 0);
}
#viewmorebtn{
    display: flex;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
    height: 32px;
    color: #881515;
    letter-spacing: 5px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #881515;
    transition: 0.5s ease;
}
#viewmorebtn:hover{
    background-color: #1c1c50;
    color: white;
}
/* product cards */






/* offer */
#offer{
    margin-top: 50px;
}
#offer i{
    font-size: 60px;
    color: #1c1c50;
}
/* offer */


/* configuraciones */


.configuracion-activo{
    color: #ffffff;
}

.configuracion-activo:hover{
    color: #ffffff;
}
.configuracion-no-activo{
    color: #000000;
    text-decoration: none;
}

.configuracion-no-activo:hover{
    color: #000000;
}

.configuracion-label{
    width:120px;
}
.configuracion-input{
    width:calc(200px + 45%); 
    height: 36px;
}

/* configuraciones */


/* footer */
#footer{
    padding: 0 0 30px 0;
    color: #d0d0d0;
    font-size: 14px;
    background: #881515;
    font-family: 'Roboto Slab', serif;
}
#footer .footer-top{
    padding: 60px 0 30px;
    background: #881515;
    color: white;
}
#footer .footer-top .footer-contact h3{
    color: white;
    text-shadow: 1px 1px 1px black;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin:  0 0 300px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    margin: 0;
    color: white;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links, #footer .footer-top .footer-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding-right: 10px 0;
}
#footer .footer-top .footer-links ul li:first-child{
    padding: 0;
}
#footer .footer-top .footer-links ul li a{
    color: white;
    line-height: 2;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    color: white;
    line-height: 1;
    padding-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.5s ease;
}
#footer .footer-content, #footer .footer-links{
    border-right: 3px solid #fff;
}
#footer .footer-links:last-child{
    border-right: 0px solid #fff;
}
@media (min-width: 768px) and (max-width: 990px){
    #footer .footer-content{
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
    }
    #footer .footer-links{
        border-right: 0px solid #fff;
    }
    #footer .footer-links:nth-child(2){
        border-bottom: 3px solid #fff;
    }
    #footer .footer-links:nth-child(3){
        border-right: 3px solid #fff;
    }
    .dropdown-menu[data-bs-popper]{
        left: 0px !important;
    }
}
@media (max-width: 768px){
    #footer .footer-content,#footer .footer-links{
        border-bottom: 3px solid #fff;
        border-right: 0px solid #fff;
    }
    #footer .footer-links:last-child{
        border-bottom: 0px solid #fff;
    }
    .dropdown-menu[data-bs-popper]{
        left: 0px !important;
    }
}
#footer .copyright{
    color: #fff;
    text-align: center;
    float: left; 
}
#footer .credits{
    float: right;
    text-align: center;
}
/* footer */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    background-color: #881515;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}

/* login */
.login{
    width: 50%;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
}
#side1{
    background-color: #881515;
    height: 76vh;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#side1 h3{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 200px;
    align-items: center;
    text-align: center;
}
#side1 p{
    color: white;    
    font-weight: bold;
    align-items: center;
    text-align: center;
}
#btn{
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}
#btn a{
    text-decoration: none;
    color: white;
}
#side2{
    margin:auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 10px 29px 0px;
    align-items: center;
    text-align: center;
}
#side2 h3{
    margin-top: 50px;
    color: #881515;
    font-weight: bold;
}
#side2 .inp{
    margin-top: 32px;
}
#side2 .olvido-contraseña{
    margin:auto;
    width: 500px;
    text-align: start;
    padding-top: 10px;
}
#side2 .recuperar-contraseña-button{
    margin:auto;
    width: 500px;
    text-align: end;
    padding-top: 10px;
}
#side2 .recuperar-contraseña-button button{
    width: 150px;
    margin-top: 5px;
}
#side2 input{
    width: 500px;
    margin-top: 20px;
    height: 36px;
    align-items: center;
}
#side2 .grupo-input{
    display: inline-flex;
    margin: auto;
}
#side2 .grupo-input input{
    width: 380px;
    align-items: center;
}
#side2 .grupo-input .grupo-input-append span{
    width: 120px;
    margin-top: 20px;
    height: 36px;
    align-items: center;
}
#side2 p{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;   
}
#side2 p a, #side2 .olvido-contraseña a {
    color: #881515;
    text-decoration: underline #881515;
    cursor: pointer;
}
#login{
    margin-top: 10px;
}
#login button{
    width: 170px;
    height: 32px;
    color: white;
    background-color: #881515;
    border: none;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
}
warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color:#0e0e3b;
    padding-top: 20px;
}


@media screen and (max-width:992px){
    #side2 input{
        width: 300px;
    }
    #side2 .olvido-contraseña{
        width: 300px;
    }
    #side2 .recuperar-contraseña-button{
        width: 300px;
    }
    #side2 .grupo-input input{
        width: 190px;
    }
    #side2 .grupo-input .grupo-input-append span{
        width: 110px;
    }
}
@media screen and (max-width:330x){
    #side2 input{
        width: 200px;
    }
    #side2 .olvido-contraseña{
        width: 200px;
    }
    #side2 .recuperar-contraseña-button{
        width: 200px;
    }
}
/* login */

/* about */
#about{
    margin-top: 50px;
}
#about h1{
    text-align: center;    
    font-weight: bold;
    color: #1c1c50;
}
/* about */

/* contact */
#contact{
    margin-top: 50px;
}
#contact h1{
    color: #1c1c50;
    text-shadow: 0px 0px 1px black;
}
#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #1c1c50;
}#messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid #252538;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
}
#messagebtn button:hover{
    background-color: #881515;
    color: white;
}
/* contact */